h1 {
	font-family: 'Wensley', serif;
}
p, .lead {
	font-family: 'GNU Free Sans', sans-serif;
}
.alert {
	width: auto;
	margin-left: 30px;
	margin-right: 40px;
}
button {
	margin-top: 0px;
	margin-bottom: 10px ;
}
.fixed-bottom {
	margin-top: 30px;
	padding: 3px;
	text-align: center;
}
